.button {
  border: 1px solid black;
  padding: 15px;
  font-size: 18px;
  background: lightblue;
  text-transform: unset;
  border-radius: 3px;
  position: relative;
}

.disabled {
  background: lightgray;
  color: #9f9f9f;
  border: 1px solid #5a5a5a;
  pointer-events: none;
}
