.button {
  border: none;
  padding: 14px;
  font-size: 18px;
  background: orange;
  text-transform: unset;
  border-radius: 15px;
  position: relative;
  color: white;

  * {
    color: white;
  }
}

.disabled {
  background: lightgray;
  color: #9f9f9f;
  border: none;
  pointer-events: none;
}
