$character-speed: 9px;
$background-speed: 7px;

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.orange {
  background: orange;
}

.green {
  background: linear-gradient(-175deg, #57f36c, #01630f);
}

.blue {
  background: linear-gradient(-175deg, #02b1ff, #006998);
}

.share {
  position: absolute;
  display: block;
  right: 0;
  width: 40px;
  height: 40px;
  bottom: 18%;
  z-index: 2;
  background: white;
  fill: #1eb1fc;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  box-shadow: -3px 4px 8px #00000066;
}

.background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.backgroundImage {
  transform: translate(-50%, -50%) translateY($background-speed) scale(0);
  transition: transform .8s ease-in-out;
  top: 50%;
  left: 50%;
  position: absolute;
  height: 80%;
}

.character {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40%;
  transform: translate(-50%, 200%);
  transition: transform .8s ease-in-out;
}

.topText,
.bottomText {
  position: absolute;
  padding: 10px;
  width: 300px;
  color: #6EA4DC;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
  background-size: 100% 100%;
  text-align: center;
}

.topText {
  top: 0;
  transform-origin: top center;
}

.bottomText {
  bottom: 0;
  transform-origin: bottom center;

  > p:last-of-type {
    font-size: 25px;
    font-weight: bold;
  }
}

.animating {
  .backgroundImage {
    transform: translate(-50%, -50%) translateY($background-speed) scale(1) ;
    animation: bouncing-background infinite 1s ease-in-out .8s;
  }

  .character {
    transform: translate(-50%, -50%) translateY(-($character-speed));
    animation: bouncing-character infinite 1s ease-in-out .8s;
  }

  .topText,
  .bottomText {
    transform: translateX(-50%) scale(1);
  }
}

.spinner {
  display: none !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.spinnerVisible {
  display: block !important;
}

@keyframes bouncing-character {
  0% {
    transform: translate(-50%, -50%) translateY(-($character-speed));
  }
  50% {
    transform: translate(-50%, -50%) translateY($character-speed);
  }
  100% {
    transform: translate(-50%, -50%) translateY(-($character-speed));
  }
}

@keyframes bouncing-background {
  0% {
    transform: translate(-50%, -50%) translateY($background-speed) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-($background-speed)) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) translateY($background-speed) scale(1);
  }
}
