body, * {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 21px;
  color: #4f4f4f;

}

body, html {
  overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#root {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slick-next, .slick-prev {
  animation: arrows ease-in-out 1s infinite;
}

.slick-next:before, .slick-prev:before {
  color: orange;
}

@keyframes arrows {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
